/*общий*/
div.wrap{
	     margin     : 0 auto; 		 
		 width      : 100%;/*ширина*/
		}

/*шапка*/
div.header{
	        width          : 100%;/*ширина*/ 
	        background     : #FFDAB9 url(/img/bg.jpg);/*цвет*/
			padding        : 1%;
		  }
/*размер_h1*/ 
div.h1{
       font-family : arial;
	   font-size   : 30px; 
	   color       : #FFF;
	  }
	  

/*шрифт меню*/
div.h3{
	   font-family : arial;
	   font-size   : 25px;
       color       : #FFF; 
	  }	

 #navbar ul{
       display: none;
       background-color: #696969;
       position: absolute;
       top: 100%;
 }
 #navbar li:hover ul { display: block; }
 #navbar, #navbar ul{
       margin: 0;
       padding: 0;
       list-style-type: none;
 }
 #navbar {
      height: 30px;
      background-color: #6495ED;
      padding-left: 25px;
      min-width: 100%;
 }
 #navbar li {
      float: left;
      position: relative;
      height: 100%;
 }
 #navbar li a {
    display: block;
    padding: 6px;
    width: 250px;
    color: #fff;
    text-decoration: none;
    text-align: center;
 }
 #navbar ul li { float: none; }
 #navbar li:hover { background-color: #f90; }
 #navbar ul li:hover { background-color:  #f90; }

/*тело*/		  
div.body{
	       background  : #FFF;
		   color       : #000;
		   font-family : arial;
		   font-size   : 14px;
        }
 		
/*Кнопка*/
 div.frontH { 
          font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */ 
          font-size  : 50%; /* Размер текста */ 
          font-weight: lighter; /* Светлое начертание */ 
		  color      : #FFF;
		  text-align : right;
         }

/*контент*/
div.content{
	        margin     : 10px 1000px 10px 270px;/*положение*/
	        float      : left;
			background : #ffffff;
			width      : 90%;
			/*height     : 100%;  */
			text-align : left;
	       }
div.clear{
	       clear : both;
         }
/* финишная */
div.footer{
	       text-align : right;
		   background : #6495ED;
		   width      : 100%;
		   height     : 3%;
          }

		  